.hero:before {
	position: absolute;
	z-index: -1;
	content: '';
	top: 5%;
	right: 0;
	bottom: 10%;

	width: 70%;
	background: linear-gradient(90deg, #e11d48 0%, #e11d48 100%);
	-webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 70%);
	mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 70%);
}

.hero:after {
	position: absolute;
	z-index: -1;
	content: '';
	top: 5%;
	left: 0;
	bottom: 70%;

	width: 60%;
	height: 100%;
	background: linear-gradient(90deg, #e11d48 0%, #e11d48 100%);
	-webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 70%);
	mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 70%);
}
